<html>
<head>
    <title>Welcome</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<p>Create one</p>

<form method="post">
    <input type="text" name="name" placeholder="Enter the name">
    <input type="text" name="description" placeholder="Enter the description">
    <button type="submit">Add</button>
</form>

</body>
</html>